.sprint{id: "sprint_#{sprint.id}", class: sprint.is_backlog? ? "backlog" : ""}
  =sprint.name
  %a.options_toggle{href: "javascript://"} options
  %ul.issues
    - sprint.issues.each do |issue|
      =render partial: "issues/item", locals: {issue: issue}
  .options
    created at: #{sprint.created_at}
