// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.issues {
  height: 100px;
  padding: 5px;
  margin: 0px;


  li.issue {
    list-style: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 2px;
    overflow: auto;
    background-color: white;

    &.extensive {
      .extensive_info {
        display: block !important;
      }
    }

    .extensive_info {
      display: none;
      float: none;
    }
    

    .name {
      display: inline;
      float: left;
      width: 200px;
    }

    .status {
      float: right;
      border: 1px solid black;
      border-radius: 4px;
      text-align: center;
      width: 70px;
      padding: 2px;
      font-size: 11px;
    }


    .actions {

      clear: both;
      display: block;
      
      form {
        display: inline;
      }

      #add_issue {
        width: 273px;
      }
      

    }
  }
}

.button {
  width: 70px;
  border-radius: 4px;
  border: 1px solid black;
  padding: 4px;
  margin-left: 3px;
}



.clearfix {
  height: 0px;
  clear: both;
}
