%h2==#{@product.name}
%input#product_id{type: "hidden", value: @product.id}
#add_issue_button.button Add issue
#add_sprint_button.button Add sprint
.sprints
  - @product.active_sprints.each do |sprint|
    =render partial: "sprints/item", locals: {sprint: sprint}
